In [10]:
import sqlalchemy
import pandas as pd
from urllib.parse import quote_plus
from sqlalchemy import text  # ✅ IMPORT NECESSARIO

# Dati della connessione
username = "root"
raw_password = "Giorginho02!"
host = "localhost"
dbname = "adventurworksdb"

# Codifica la password
password = quote_plus(raw_password)

# Crea la stringa di connessione
connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print("🔗 Connection string:", connection_string)

# Crea l'engine e prova la connessione
try:
    db_engine = sqlalchemy.create_engine(connection_string)
    with db_engine.connect() as conn:
        print("✅ Connessione al database riuscita!")

        # ✅ Esegui la query correttamente
        result = conn.execute(text("SHOW TABLES"))
        print("📋 Tabelle presenti nel database:")
        for row in result:
            print(" -", row[0])

except Exception as e:
    print(f"❌ Errore durante la connessione: {e}")

🔗 Connection string: mysql+pymysql://root:Giorginho02%21@localhost/adventurworksdb
✅ Connessione al database riuscita!
📋 Tabelle presenti nel database:
 - adventureworksdwbuildversion
 - dimaccount
 - dimcurrency
 - dimcustomer
 - dimdate
 - dimdepartmentgroup
 - dimemployee
 - dimemployeesalesterritory
 - dimgeography
 - dimorganization
 - dimproduct
 - dimproductcategory
 - dimproductsubcategory
 - dimpromotion
 - dimreseller
 - dimsalesreason
 - dimsalesterritory
 - dimscenario
 - factcurrencyrate
 - factfinance
 - factinternetsales
 - factinternetsalesreason
 - factproductinventory
 - factresellersales
 - factsales
 - region
 - sysdiagrams

In [32]:
query = "SELECT * FROM dimproduct"
dimproduct = pd.read_sql(query, db_engine)
dimproduct.shape
dimproduct.columns
dimproduct.head(1)
dimproduct.tail(1) #tail è una funzione di pandas che ti permtte di vedere le ultme righe di u datasets
dimproduct.dtypes
dimproduct.sample(5) #stampiamo 5 righe a caso
dimproduct["Color"].unique()

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [12]:
dimproduct["Color"].value_counts()

Color
NA              254
Black           133
Red              63
Silver           52
Yellow           46
Blue             28
Multi            18
Silver/Black      7
White             4
Grey              1
Name: count, dtype: int64

In [39]:
round(dimproduct["Weight"].mean(), 2)#quanto pesa la media dei prodotti

56.19

In [40]:
dimproduct["Weight"].min() #quanto pesa il più leggero

2.12

In [42]:
dimproduct["Weight"].max()

1050.0

In [45]:
#quanti prodotti pesano più di 100
filtro = dimproduct["Weight"] > 100
dimproduct.loc[filtro, "Weight"].shape #loc ci permette di filtrare le clonne in base al nom e non alla posizione

(28,)

In [46]:
#quanti prodotti pesano più di 100
filtro = dimproduct["Weight"] > 100
dimproduct.loc[filtro, "Weight"]

179     435.0
180     450.0
181     400.0
182     445.0
183     450.0
184     400.0
185     460.0
412     900.0
413     850.0
414     650.0
421    1050.0
422    1000.0
423     890.0
500     215.0
513     317.0
541     218.0
542     215.0
543     185.0
544     189.0
545     168.0
546     149.0
554     317.0
555     600.0
556     635.0
557     575.0
600     223.0
601     168.0
602     170.0
Name: Weight, dtype: float64

In [49]:
#quanto costano in media  prodotti
round(dimproduct["DealerPrice"].mean(), 2)

448.6

In [50]:
#quali sono i quartili dei prezzi?
dimproduct.describe()

,ProductKey,ProductSubcategoryKey,StandardCost,FinishedGoodsFlag,SafetyStockLevel,ReorderPoint,ListPrice,Weight,DaysToManufacture,DealerPrice,StartDate,EndDate
count,606.00000,397.000000,397.000000,606.000000,606.000000,606.000000,395.000000,282.000000,606.000000,395.000000,606,200
mean,303.50000,12.128463,436.823073,0.655116,495.201320,371.400990,747.661544,56.193227,1.201320,448.597060,2009-07-26 03:12:28.514851328,2008-08-17 14:24:00
min,1.00000,1.000000,0.860000,0.000000,4.000000,3.000000,2.290000,2.120000,0.000000,1.374000,2003-07-01 00:00:00,2007-12-28 00:00:00
25%,152.25000,2.000000,37.120000,0.000000,100.000000,75.000000,69.990000,2.680000,0.000000,41.994000,2003-07-01 00:00:00,2007-12-28 00:00:00
50%,303.50000,13.000000,204.630000,1.000000,500.000000,375.000000,364.090000,15.420000,1.000000,218.454000,2012-07-01 00:00:00,2008-12-27 00:00:00
75%,454.75000,16.000000,660.910000,1.000000,1000.000000,750.000000,1204.320000,24.130000,1.000000,722.594900,2013-07-01 00:00:00,2008-12-27 00:00:00
max,606.00000,37.000000,2171.290000,1.000000,1000.000000,750.000000,3578.270000,1050.000000,4.000000,2146.962000,2013-07-01 00:00:00,2008-12-27 00:00:00
std,175.08141,9.423328,497.343079,0.475723,364.007114,273.005336,838.708359,158.000652,1.508893,503.225071,NaN,NaN

In [52]:
#quali sono i quartili dei prezzi?
dimproduct["DealerPrice"].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

In [53]:
#quartili sono 4 mentre i quantili possiamo decidere noi quanti devono esssere
round(dimproduct["DealerPrice"].quantile(0.25), 2)

41.99

In [15]:
filtro = dimproduct["Color"] == "Blue"
round(dimproduct.loc[filtro, "DealerPrice"].mean(), 2)

516.06

In [18]:
filtro_red = dimproduct["Color"] == "Red"
filtro_black = dimproduct["Color"] == "Black"
filtro = filtro_red | filtro_black # | in pandas is usa per afre l'or
round(dimproduct.loc[filtro, "DealerPrice"].mean(), 2)

448.6

In [22]:
#il prezzo massimo per i prodotti di taglia 42 e peso oltre 10
filtro_peso = dimproduct["Weight"] > 10
filtro_taglia = dimproduct["Size"] == "42" #lo metto tra virgolette perchè size abbiamo visto che è un dato di tipo object quindi è una stringa
filtro = filtro_peso & filtro_taglia

round(dimproduct.loc[filtro, "DealerPrice"].max(), 2)

2039.99

In [33]:
#qual'è il nome inglese e il costo di produzione(SatndardCost) di tutti i prodotti di taglia 42, peso oltre 10 e colore argento?
filtro_taglia = dimproduct["Size"] == "42"
filtro_colore = dimproduct["Color"] == "Silver"
filtro_peso = dimproduct["Weight"] > 10
filtro = filtro_taglia & filtro_colore & filtro_peso
dimproduct.loc[filtro, ["EnglishProductName", "StandardCost"] ]
#prestare attenzione al kernel perchè altrimenti l'output potebbe essere diverso in quanto abbiamo un output che tiene conto del codice scritto nelle celle precedenti

            EnglishProductName  StandardCost
344    Mountain-100 Silver, 42       1912.15
353    Mountain-200 Silver, 42       1117.86
354    Mountain-200 Silver, 42       1265.62
588  Mountain-400-W Silver, 42        419.78
591    Mountain-500 Silver, 42        308.22

In [24]:
dimproduct.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [35]:
#visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset:quali sono le differnze? c'è un pattern?c'è qualche elemento che non lo segue?
dimproduct.tail(20).loc[:, ["StandardCost", "DealerPrice"]]

     StandardCost  DealerPrice
586        419.78      461.694
587        419.78      461.694
588        419.78      461.694
589        419.78      461.694
590        308.22      338.994
591        308.22      338.994
592        308.22      338.994
593        308.22      338.994
594        308.22      338.994
595        294.58      323.994
596        294.58      323.994
597        294.58      323.994
598        294.58      323.994
599        294.58      323.994
600         23.97       32.394
601         44.95       60.744
602         53.94       72.894
603        343.65      323.994
604        343.65      323.994
605        343.65      323.994

In [37]:
amazon = pd.read_csv("datasets/beginner_datasets/amazon.csv")
amazon

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/beginner_datasets/amazon.csv'